<!-- ================= Footer Section ================= -->
<footer class="bg-tertiarycolor py-10 px-3 px-sm-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <h4 class="pb-2 footer-brand">AuraTheme</h4>
                <p>
                    <strong>@vnmentor.Resources.HomePageResource.Email</strong>: auratheme@outlook.com<br>
                </p>
                <div>
                    &copy; Copyright @(DateTime.UtcNow.Year) AuraTheme.<br>All Rights Reserved.
                </div>
            </div>
            <div class="col-md-6 col-lg-3 pt-4 pt-sm-0">
                <h4 class="footer-title pb-2">@vnmentor.Resources.HomePageResource.UsefulLinks</h4>
                <ul class="list-style-none ps-0">
                    <li class="pb-1"><a class="" href="https://auratheme.notion.site/FAQ-24c18b1c67e64af5b9b0f39f118641d2" target="_blank">@vnmentor.Resources.HomePageResource.NetStarterFAQArticles</a></li>
                    <li class="pb-1"><a class="" href="https://1.envato.market/7mjd3g" target="_blank">@vnmentor.Resources.HomePageResource.EnvatoPortfolio</a></li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-3 pt-md-4 pt-lg-0">
                <h4 class="footer-title pb-2">@vnmentor.Resources.HomePageResource.OurProducts</h4>
                <ul class="list-style-none ps-0">
                    <li class="pb-1">@vnmentor.Resources.HomePageResource.BootstrapHTMLWebsiteTemplates</li>
                    <li class="pb-1">@vnmentor.Resources.HomePageResource.ASPNETMVCWebApplication</li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-3 pt-md-4 pt-lg-0">
                <h4 class="footer-title pb-2">@vnmentor.Resources.HomePageResource.FollowUs</h4>
                <p class="mb-4">@vnmentor.Resources.HomePageResource.FollowUsDescription</p>
                <a href="https://www.instagram.com/aurathemedesign/" target="_blank" class="rounded-circle bg-secondarycolor color-white p-2 text-center hover-color-white border-0 hover-bg-primarycolor"><i class="fa-brands fa-instagram wh-20"></i></a>
                <a href="https://www.youtube.com/channel/UCd5nvmCXkry-0b9YMjlbP_g" target="_blank" class="rounded-circle bg-secondarycolor color-white p-2 text-center hover-color-white border-0 hover-bg-primarycolor"><i class="fa-brands fa-youtube wh-20"></i></a>
                <a href="https://1.envato.market/7mjd3g" target="_blank" class="rounded-circle bg-secondarycolor color-white p-2 text-center hover-color-white border-0 hover-bg-primarycolor"><i class="fa-solid fa-globe wh-20"></i></a>
            </div>
        </div>
    </div>
</footer>
