@using System.Threading
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <meta name="description" content="Write your web application description here">
    <meta name="keywords" content="Write some keywords here">
    <meta name="author" content="auratheme">
    <link rel="icon" type="image/x-icon" href="~/favicon.ico">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link id="bootstrap-ltr" rel="stylesheet" href="~/bootstrap.min.css" />
    <link id="bootstrap-rtl" rel="stylesheet" href="~/bootstrap.rtl.min.css.css" />
    <link rel="stylesheet" href="~/all.min.css" />
    <link rel="stylesheet" href="~/style.css?v=1.1.8" />
</head>
<body data-bs-spy="scroll" data-bs-target="#topright-navbar">

    <!-- ================= Top Navigation Bar ================= -->
    <!-- Note: the code for top navigation bar cannot be put in partial view. Because if do so, the feature of data-bs-spy to "set nav-item to active on scroll" won't be working -->
    <header id="top-navigation" class="py-2 px-3 px-sm-5 fixed-top bg-transparent scrolled-shadow">
        <div class="container">
            <div class="row justify-content-between align-items-center gx-0">
                @*Left Column for Brand Name*@
                <div class="col-5 col-lg-2">
                    <a class="nav-link brandname hover-color-primarycolor ps-0" href="@Url.Action("index","home")">ExamEase</a>
                </div>
                <div class="col-lg-2 d-none d-lg-inline-block">
                </div>
                @*Right Column for Navigation*@
                <div class="col-lg-8 d-none d-lg-inline-block text-end">
                    <nav id="topright-navbar" class="nav navbar navbar-expand-lg">
                        <div class="container-fluid">
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                                <i class="fa-solid fa-bars"></i>
                            </button>
                            <div class="collapse navbar-collapse justify-content-end align-items-end text-end" id="navbarNavDropdown">
                                <ul class="navbar-nav">
                                    <!-- If current page is home page, set href = section id so that 'set nav-item active on scroll' is working -->
                                    @if (ViewContext.RouteData.Values["Controller"].ToString() == "home" && ViewContext.RouteData.Values["Action"].ToString() == "index")
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link active me-1 pe-0 hover-color-primarycolor" href="#hero">@vnmentor.Resources.HomePageResource.Home</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link ms-3 me-1 pe-0 hover-color-primarycolor" href="#whyus">@vnmentor.Resources.HomePageResource.Benefits</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link ms-3 me-1 pe-0 hover-color-primarycolor" href="#features">@vnmentor.Resources.HomePageResource.Features</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link ms-3 me-1 pe-0 hover-color-primarycolor" href="#faq">@vnmentor.Resources.HomePageResource.FAQ</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link active me-1 pe-0 hover-color-primarycolor" href="@Url.Action("index","home")#hero">@vnmentor.Resources.HomePageResource.Home</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link ms-3 me-1 pe-0 hover-color-primarycolor" href="@Url.Action("index","home")#whyus">@vnmentor.Resources.HomePageResource.Benefits</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link ms-3 me-1 pe-0 hover-color-primarycolor" href="@Url.Action("index","home")#features">@vnmentor.Resources.HomePageResource.Features</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link ms-3 me-1 pe-0 hover-color-primarycolor" href="@Url.Action("index","home")#faq">@vnmentor.Resources.HomePageResource.FAQ</a>
                                        </li>
                                    }
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle ms-3 me-1 pe-0 hover-color-primarycolor" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            @System.Threading.Thread.CurrentThread.CurrentCulture.ToString().ToUpper()
                                        </a>
                                        <ul class="dropdown-menu">
                                            @await Html.PartialAsync("~/Views/Shared/_LanguageChoices.cshtml")
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link ms-3 me-1 pe-0 hover-moveup" href="@Url.Action("login","account")">
                                            <span class="hover-boxshadow border-0 bg-light color-black hover-bg-primarycolor px-4 py-2 rounded shadow">@vnmentor.Resources.HomePageResource.Login</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link ms-2 pe-0 hover-moveup" href="@Url.Action("register","account")">
                                            <span class="hover-boxshadow border-0 bg-secondarycolor hover-bg-primarycolor color-white px-4 py-2 shadow rounded">@vnmentor.Resources.HomePageResource.SignUp</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
                @*Menu Bar Icon (appear in small screen)*@
                <div class="col-1 d-inline-block d-lg-none">
                    <a class="navbar-toggler px-0" data-bs-toggle="offcanvas" href="#offcanvasMobileMenu" role="button" aria-controls="offcanvasMobileMenu">
                        <i class="fa-solid fa-bars"></i>
                    </a>
                </div>
            </div>
        </div>
    </header>

    <!-- ================= Offcanvas Left Mobile Navigation ================= -->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasMobileMenu">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title"><a class="nav-link brandname hover-color-primarycolor ps-0" href="index.html">ExamEase</a></h5>
            <button type="button" class="text-reset rounded-circle bg-default border-0" data-bs-dismiss="offcanvas" aria-label="Close"><i class="fa-solid fa-close"></i></button>
        </div>
        <div class="offcanvas-body">
            <div>
                <a class="nav-link hover-color-primarycolor @(ViewContext.RouteData.Values["Controller"].ToString() == "home" && ViewContext.RouteData.Values["Action"].ToString() == "index" ? "color-primarycolor" : "")" href="@Url.Action("index","home")">@vnmentor.Resources.HomePageResource.Home</a>
            </div>
            <div class="btn-group nav-link">
                <button type="button" class="btn bg-transparent hover-color-primarycolor border-0 dropdown-toggle ps-0" data-bs-toggle="dropdown" aria-expanded="false">@System.Threading.Thread.CurrentThread.CurrentCulture.ToString().ToUpper()</button>
                <ul class="dropdown-menu">
                    @await Html.PartialAsync("~/Views/Shared/_LanguageChoices.cshtml")
                </ul>
            </div>
            <div>
                <a class="nav-link hover-color-primarycolor @(ViewContext.RouteData.Values["Controller"].ToString() == "account" && ViewContext.RouteData.Values["Action"].ToString() == "login" ? "color-primarycolor" : "")" href="@Url.Action("login","account")">@vnmentor.Resources.HomePageResource.Login</a>
            </div>
            <div>
                <a class="nav-link hover-color-primarycolor @(ViewContext.RouteData.Values["Controller"].ToString() == "account" && ViewContext.RouteData.Values["Action"].ToString() == "register" ? "color-primarycolor" : "")" href="@Url.Action("register","account")">@vnmentor.Resources.HomePageResource.SignUp</a>
            </div>
        </div>
    </div>

    <main class="position-relative">
        @RenderBody()
    </main>

    @await Html.PartialAsync("~/Views/Shared/_FooterBeforeLogin.cshtml")

    <!-- Scroll to top button -->
    <a class="scroll-top rounded-circle position-fixed bg-primarycolor color-white hover-color-white hover-moveup hover-boxshadow d-flex align-items-center justify-content-center active"><i class="fa-solid fa-arrow-up"></i></a>

    <script src="~/Scripts/jquery-3.6.0.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/main.js?v=1.1.4"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    @RenderSection("scripts", required: false)
    <script>
        var lang = '@(Thread.CurrentThread.CurrentCulture.ToString())';
        var rtlCss = document.querySelector("#bootstrap-rtl");
        var ltrCss = document.querySelector("#bootstrap-ltr");
        if (lang == "ar") {
            document.querySelector("html").setAttribute("lang", "ar");
            document.querySelector("html").setAttribute("dir", "rtl");
            rtlCss.disabled = false;
            ltrCss.disabled = true;
        } else {
            rtlCss.disabled = true;
            ltrCss.disabled = false;
            document.querySelector("html").removeAttribute("lang", "ar");
            document.querySelector("html").removeAttribute("dir", "rtl");
        }
    </script>
</body>
</html>
