@using vnmentor.Models
@using vnmentor.Resources;
@model ForgotPasswordViewModel
@{
    ViewBag.Title = Resource.ForgotPassword;
}

@await Html.PartialAsync("~/Views/Shared/_Notification.cshtml")

<style>
#submit {
    padding: 20px 60px;
    background-color: #000;
    border: none;
    font-size: 18px;
    position: relative;
    overflow: hidden;
    transition: 200ms;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

#submit span {
    color: #231e20;
    position: relative;
    transition: 200ms;
    transition-delay: 200ms;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
}

#submit:before {
    content: '';
    position: absolute;
    width: 0%;
    height: 0%;
    left: 50%;
    right: 50%;
    top: 50%;
    bottom: 50%;
    transition: 200ms;
    transition-delay: 200ms;
    background-color: #87622c;
    box-shadow: 0 0 10px #87622c, 0 0 30px #87622c, 0 0 50px #87622c;
}

#submit div {
    transition: 200ms;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 15px #87622c, 0 0 30px #87622c, 0 0 50px #87622c;
}

#submit .top {
    width: 15px;
    height: 2px;
    top: 0;
    left: 0;
}

#submit .bottom {
    width: 15px;
    height: 2px;
    bottom: 0;
    right: 0;
}

#submit .left {
    width: 2px;
    height: 15px;
    top: 0;
    left: 0;
}

#submit .right {
    width: 2px;
    height: 15px;
    bottom: 0;
    right: 0;
}

#submit:hover {
    color: #fff;
}

#submit:hover span {
    color: #fff;
}

#submit:hover:before {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#submit:hover .top,
#submit:hover .bottom {
    width: 100%;
}

#submit:hover .left,
#submit:hover .right {
    height: 100%;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.wrapper > * {
  width: 100%;
}

.position-relative-w-100 {
    position: relative;
    width: 100%;
    z-index: 1;
  }

  .carousel-slide-w-100-h-100 {
    z-index: 1;
  }

  .d-fluid-w-100-h-10 {
    margin-top: 60px;
  }

  .py-10-px-3-px-sm-5 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  #form {
    padding: 50px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
    border: solid #CDA666;
  }
  section {
    padding: 50px;
  }

  .carousel-item img {
    width: auto;
    height: 800px;
  }

      .loading-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Màu nền với độ mờ */
        z-index: 9999; /* Đảm bảo hiển thị trên tất cả các phần tử khác */
        display: none; /* Ẩn ban đầu */
    }

    .loading-iframe {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: none;
    }

  </style>

<div class="my-5"></div>
    <div class="position-relative-w-100">
        <div id="carouselExampleAutoplaying" class="carousel slide w-100 h-100 carousel-slide-w-100-h-100" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://res.cloudinary.com/dfzhyunci/image/upload/EduVision/Slide/Slider_01.png" class="d-fluid w-100 h-10 d-fluid-w-100-h-10" alt="Slide 1">
        </div>
        <div class="carousel-item">
          <img src="https://res.cloudinary.com/dfzhyunci/image/upload/EduVision/Slide/Slider_02.png" class="d-fluid w-100 h-10 d-fluid-w-100-h-10" alt="Slide 2">
        </div>
        <div class="carousel-item">
          <img src="https://res.cloudinary.com/dfzhyunci/image/upload/EduVision/Slide/Slider_03.png" class="d-fluid w-100 h-10 d-fluid-w-100-h-10" alt="Slide 3">
        </div>
      </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
        </div>
    </div>
<section class="py-10 px-3 px-sm-5 py-10-px-3-px-sm-5" style="width: 60vw;">
    <div class="container" id="form">
        <div class="wrapper">
        <div class="row justify-content-start align-items-start gx-0 gx-sm-5">
            <div class="col-lg-6 pt-5 pt-lg-0 order-1 order-lg-0">
                <iframe src="https://lottie.host/embed/a04b4e96-f3de-4328-acba-1ac21e8ec809/pAWkBZbi6a.json" style="width: 100%; height: 500px;"></iframe>
            </div>
            <div class="col-lg-6 order-0 order-lg-1" style="border: solid #CDA666; z-index: 99; background-color: #fff; border-radius: 30px; padding: 40px;">
                <h1 class="fw600 pb-2 title-lg"><span class="color-primarycolor">@Resource.Forgot</span> @Resource.Password</h1>
                <div class="pb-3">@Resource.FillInEmailAddressWeWillSendYouResetPasswordLink</div>
                @Html.ValidationSummary("", new { @class = "invalid-message" })
                @using (Html.BeginForm("ForgotPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post,null, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken();
                    <div class="mb-3 text-break">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "form-label required fw600" })
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "invalid-message" })
                        </div>
                    </div>
                    <button type="submit" class="btn form-btn btn-primary hover-boxshadow hover-moveup">@Resource.Submit</button>
                                                  @* <button id="submit" type="submit" class="btn form-btn btn-primary hover-boxshadow hover-moveup">
                                  <span>@Resource.Submit</span>
                                  <div class="top"></div>
                                  <div class="left"></div>
                                  <div class="bottom"></div>
                                  <div class="right"></div>
                              </button> *@
                    <!-- Loading Overlay -->
                }
            </div>
        </div>
    </div>
    </div>
</section>
<div id="loadingOverlay" class="loading-overlay">
    <iframe id="loadingIframe" class="loading-iframe" src="https://lottie.host/embed/4bd67f35-e8b7-4f5b-863e-5e47bd1a8f26/96U4NAMFpa.json" style="width: 100%; height: 500px;"></iframe>
</div>
@section Scripts {
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Lấy ra form và iframe overlay
        const form = document.querySelector('form');
        const loadingOverlay = document.getElementById('loadingOverlay');
        let iframeLoaded = false; // Biến để theo dõi trạng thái của iframe

        // Bắt sự kiện khi iframe load xong
        document.getElementById('loadingIframe').onload = function() {
            // Cập nhật trạng thái khi iframe load xong
            iframeLoaded = true;
        };

        // Hàm để chuyển trang sau khi delay
        function goToNextPage() {
            setTimeout(function() {
                form.submit(); // Thực hiện submit form sau 5 giây
            }, 2000);
        }

        // Bắt sự kiện khi form submit
        form.addEventListener('submit', function(event) {
            // Ngăn chặn hành động mặc định của form
            event.preventDefault();

            // Hiển thị iframe overlay
            loadingOverlay.style.display = 'block';

            // Nếu iframe đã hoàn tất, thì chuyển trang
            if (iframeLoaded) {
                goToNextPage();
            } else {
                // Nếu chưa hoàn tất, thì đợi đến khi hoàn tất và chuyển trang sau đó
                document.getElementById('loadingIframe').onload = function() {
                    goToNextPage();
                };
            }
        });
    });
</script>
}

